<h2>List of all restaurants</h2>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li> <%= link_to restaurant.name, restaurant_path(restaurant) %> </li>
  <% end %>
</ul>

<p class="link"><%= link_to "Add a new restaurant", new_restaurant_path %> </p>
